NUXT_AUTH0_DOMAIN=https://joblisting.eu.auth0.com
NUXT_AUTH0_CLIENT_ID=KLoLjvrkFLqk8AdZ7gpaOHVyaVqLQbeC
NUXT_AUTH0_CLIENT_SECRET=N2NEqadO86NzIjAGn1JYnFmE1tMvD0ZjXTHxEoZmmSYRgh9FdMtz_oITRYpj1nuG
NUXT_AUTH0_SESSION_SECRET=8f7a9f1c3b4d5e6f7a8b9c0d1e2f3a4b
NUXT_AUTH0_APP_BASE_URL=http://localhost:3000